body {
  padding-top: 50px;
  color: black;
}

.profile {
  float: right;
  position: relative;
  padding-right: 470px;
}

.box {
  border: 1px solid black;
  background: white;
  padding: 0 20px 0 20px;
}